<div class="screen-wrapper">
    <div class="side-bar">

    </div>
    <div class="content">
        <div class="header">
            Sari masri
        </div>
        <div class="sections">
            <div class="first-section">
                <div class="title">Todo list</div>
                <ul class="list">
                    <li *ngFor="let task of tasks;">{{task}}</li>
                </ul>
            </div>
            <div class="second-section">
                <div class="grid">
                    <img src="https://picsum.photos/200/300?random=1" class="image"/>
                    <img src="https://picsum.photos/200/300?random=2" class="image" />
                    <img src="https://picsum.photos/200/300?random=3" class="image" />
                    <img src="https://picsum.photos/200/300?random=4" class="image" />
                    <img src="https://picsum.photos/200/300?random=5" class="image" />
                    <img src="https://picsum.photos/200/300?random=6" class="image" />
                    <img src="https://picsum.photos/200/300?random=7" class="image" />
                    <img src="https://picsum.photos/200/300?random=8" class="image" />
                    <img src="https://picsum.photos/200/300?random=9" class="image" />
                    <img src="https://picsum.photos/200/300?random=10" class="image" />
                    <img src="https://picsum.photos/200/300?random=11" class="image" />
                    <img src="https://picsum.photos/200/300?random=12" class="image" />
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="content-details">
                Phone number :0543934971<br/>
                Email : sarimasri@gmail.com
            </div>
        </div>
    </div>
</div>